.fruits-vegetables {
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid black;

}

.fruits-vegetables__container{
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.fruits-vegetables__list {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.fruits-vegetables__list__label {
    color: #f19300;
    padding: 20px;
}