.onglet {
    font-size: medium;
    width: 200px;
    height: 30px;
    background: #282c34;
    color: limegreen;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid #333;
    margin: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 500;
}