.foodlist__food-card {
    display: flex;
    align-content: center;
    justify-content: center;
}

.foodlist__title {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #282c34;
}
.foodlist__searchBar{
    display: flex;
    align-content: center;
    justify-content: center;
}

.foodlist__switch{
    display: flex;
    align-content: center;
    justify-content: center;
}