.contBtn {
    display: flex;
    justify-content: center;
}

.onglet {
    font-size: medium;
    width: 200px;
    height: 30px;
    background: #282c34;
    color: limegreen;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid #333;
    margin: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    width: auto;
    border: 1px solid #444;
    border-top: none;

}
.active {
    background: darkorange;
    color: #282c34;
}

.label {
    color: #282c34;
    font-size: large;
}
.food {
    display: flex;
    justify-content: center;
    align-content: center;
}
List {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}