.contBtn {
    display: flex;
    justify-content: center;
}



.container {
    width: auto;
    height: auto;

}
.active {
    background: #282c34;
    color: #f19300;
    font-weight: 500;
}

.label {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #282c34;
}
.food {
    display: flex;
    align-content: center;
    justify-content: center;
}
.liste {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.carre {
    width: 70px;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
}