.recipe__title {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #f19300;
}

.recipe__name {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #06c106;
}


.recipe__tab{
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width:75%;
    max-height: 15%;
    flex-grow: 2;

}

