.logo_404 {
    pointer-events: none;
    width: "auto";
    height: "250";
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo_404 {
      animation: logo_404-spin infinite 8s linear;
    }
  }
  
  @keyframes logo_404-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
