.shopping-list__title {
    color: #f19300;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 1%;
}

.shopping-list__information {
    color: red;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 1%;
}

.shopping-list__paper {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}