#navbar {
  list-style-type: none;
  color: limegreen;
  /* color: transparent; */
  font-size: medium;
  font-weight: 500;
  background-color: #282c34;
  position: static;
  display: flex;
  align-content: center;
  justify-content: center;
}
.navbar__links:hover {
  color: darkorange;
  background-color: transparent;
  text-decoration: underline;
}