.fridge-addition__title {
    color: #282c34;
    display: flex;
    align-content: center;
    justify-content: center;
}

.fridge-addition__button:hover {
    color: white;
}

.fridge-addition__button {
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.fridge-addition__food-card {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;

}