.Title{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.container {
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid black;

}
.label {
    color: #f19300;
}
.food {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;

}
.liste {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.firstlist{
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}
.nom{
    width: 70px;
    height: 20px;
    display: flex;
}
.filled-number{
    width: 60px;
    height: 40px;
    margin-bottom: 2%;
}