.recipe__recipe-step__step {
    font-variant: all-petite-caps;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #f19300;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: #06c106;
}

.MuiStepIcon-root{
    width: 30px;
    height: 30px;
    align-items: center;
    color:#282c34;
}