name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      CI: false

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 
      uses: actions/setup-node@v1
      with:
        node-version: '11'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Run SonarCloud
      uses: sonarsource/sonarcloud-github-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

